html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.menu ul li a {

    display: inline-block;
    text-decoration: none;
    margin-top: 100px;
    color: #ffff;
}

.menu ul li a:hover {

    color: rgb(141, 141, 141);

}
.menu {
    width: 15%;
    background-color: rgb(24, 23, 23);
    padding: 10px 20px 0px;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.header img {

    margin-top: 15px;
    margin-left: 420px;

}

.header {
    background-color: rgb(14, 14, 14);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {

    box-shadow: 5px 5px 10px gray;
    width: 750px;
    height: 200px;

}

table th {

    background-color: rgba(0, 0, 0, 0.959);
    color: white;

}

table tr:hover {

    background-color: lightcyan;

}

table tr td {

    border: solid black 1px;

}


.footer {
    background-color: rgb(14, 14, 14);
    min-height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 120px;
}

.footer img {

    margin-right: 200px;
    margin-top: 20px;
    cursor: pointer;

}

.footer img:hover {

    color: gray;
    transform: scale(1.05);
    transition: 1.5s;

}

.footer h6 {

    color: #ffff;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;

}
.footer h6:hover {

color: grey;

}